server:
  port: 8002
spring:
  application:
    name: JavaSpring
  datasource:
    url: "jdbc:postgresql://103.146.22.246:5432/ifs_sunday_dev?currentSchema=bpmn"
    username: "postgres"
    password: "///Killer2stz"
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
flowable:
  database-schema-update: true
  async-executor-activate: true